<h1>Editing Book</h1>
<div class="flash-notifications">
  <% flash.each do |key, value| %>
   <%= content_tag(:div, value, class: key) %>
  <% end %>
</div>

<%= form_with model: @book do |f| %>

<h6>Title</h6>
<%= f.text_field :title %>

<h6>Body</h6>
<%= f.text_area :body %>

<%= f.submit 'Update Book' %>

<%= link_to 'Show', "/books/#{@book.id}" %>
<%= link_to "Back", books_path %>

<% end %>