<div class="flash">
    <%=   flash[:hoge]  %>
</div>

<div class="title">
    <p><strong>Title: </strong><%= @book.title %></p>
</div>
<div class="body">
    <p><strong>Body: </strong><%= @book.body %></p>
</div>

<div class="link">
  <%= link_to 'Edit', "/books/#{@book.id}/edit" %>
  <%= link_to "Back", books_path %>
</div>


